%h1= @event.name

%hr
%h3= @event.location

%h4= "#{@event.start_time} - #{@event.end_time}"

%h4 Elections
- @event.elections.each do |elec|
	%div
		= elec.name
		- if elec.open?		
			%a{:href=>"/election/#{elec.id}"} vote
		%a{:href=>"/election/results/#{elec.id}"} results
