%h2= @election.name
%form.form-horizontal{:action=>"/admin/event/#{@event.id}/election/#{@election.id}/proposals/", :method=>"POST"}
  - if @proposal.id
    %input{:type=>"hidden", :name=>"id", :value=>@proposal.id}
  .row
    .col-md-10
      .form-group
        %label.control-label{:for=>"#proposal_name"} Name:
        .controls
          %input#proposal_name.form-control.col-md-5{:type=>"text", :name=>"name", :value=>@proposal.name}
      .form-group
        %label.control-label{:for=>"#proposal_description"} Description
        .controls
          %textarea.form-control.col-md-9{:name=>"description", :rows=>10}= @proposal.description
        
  .row
    %a.btn{:href=>"/admin/event/#{@event.id}"} Cancel
    %input.btn.btn-primary{:type=>'submit', :value=>'Save'}
