!!!
%html{:lang=>'en'}
  %head    
    %link{:rel=>"stylesheet", :href=>"/css/bootstrap.min.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/diebold.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/timepicker.css", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>'/js/jquery-1.11.1.min.js'}          
    %script{:type=>"text/javascript", :src=>'/js/bootstrap.min.js'}    

    %title #{@page_title||'Diebold-o-tron'} @ Code4Lib

  %body
    %div{:class=>["navbar","navbar-inverse"], :role => 'navigation'}
      %div{:class=>"container"}
        %div{:class => 'navbar-header'}
          %a{:class=>"navbar-brand", :href=>"/"} Code4Lib Diebold-o-Tron
      
              
        %ul{:class=>"nav navbar-nav navbar-right"}
          -if session[:username]                        
            %li.dropdown
              %a{:href=>"#", :class=>"dropdown-toggle", :"data-toggle"=>"dropdown"}                  
                Signed in as
                = session[:username]
                %span.caret
              %ul{:class=>"dropdown-menu", :role => 'menu'}
                %li
                  %a{:href=>"/logout/"} Sign out
          - else
            %li
              %a{:href=>"/login/", class: '', :role=>"button"} Sign in
    %div{:class=>"container"}
      %div{:class=>"row"}
        .col-md-2.col-sm-3
          %div{:class=>["well","sidebar-nav"]}
            = haml :"/common/left_nav"
        .col-md-10.col-sm-9
          - if @event
            %div{:class=>"row"}
              .col-md-12
                %h2 #{@event.name}:  #{@event.location}
          =yield

    %script{:type => "text/javascript", :src => '/js/bootstrap-timepicker.js'}
    %script{:type => "text/javascript", :src => '/js/diebold.js'}
