!!!
%html{:lang=>'en'}
  %head    
    %link{:rel=>"stylesheet", :href=>"/css/bootstrap.min.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/diebold.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/timepicker.css", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>'/js/jquery-1.8.1.min.js'}          
    %script{:type=>"text/javascript", :src=>'/js/bootstrap.min.js'}    

    %title #{@page_title||'Diebold-o-tron'} @ Code4Lib

  %body
    %div{:class=>["navbar","navbar-inverse"], :role => 'navigation'}
      %div{:class=>"container"}
        %div{:class => 'navbar-header'}
          %a{:class=>"navbar-brand", :href=>"/"} Code4Lib Diebold-o-Tron
      
              
        %ul{:class=>"nav navbar-nav navbar-right"}
          -if session[:username]                        
            %li.dropdown
              %a{:href=>"#", :class=>"dropdown-toggle", :"data-toggle"=>"dropdown"}                  
                Signed in as
                = session[:username]
                %span.caret
              %ul{:class=>"dropdown-menu", :role => 'menu'}
                %li
                  %a{:href=>"/profile/"} Profile
                %li
                  %a{:href=>"/logout/"} Sign out
          - else
            %li.active
              %a{:href=>"#loginForm", :class => 'btn btn-primary navbar-btn', :role=>"button", :"data-toggle"=>"modal"} Sign in
    %div{:class=>"container"}
      %div{:class=>"row"}
        .col-md-2.col-sm-3
          %div{:class=>["well","sidebar-nav"]}
            = haml :"/common/left_nav"
        .col-md-10.col-sm-9
          - if @event
            %div{:class=>"row"}
              .col-md-12
                %h2 #{@event.name}:  #{@event.location}
          =yield
          
    - unless session[:username]
      #loginForm.modal.fade{:tabindex=>"-1", :role=>"dialog"}
        %form{:action=>"/login/", :method=>"POST"}    
          %div.modal-dialog
            %div.modal-content
              %div{:class=>"modal-header"}
                %button.close{:type=>"button", :"data-dismiss"=>"modal"}×
                %h3 Sign in
              %div{:class=>"modal-body"}
                %div{:class=>["alert","alert-info"]}
                  %strong Reminder:
                  Sign in with your
                  %a{:href=>"http://code4lib.org/", :target=>"_blank"} Code4lib.org
                  %em Drupal
                  username and password
                  %br
                  (Don't have one? 
                  %a{:href=>"http://code4lib.org/user/register", :target=>"_blank"}Register at Code4lib.org.
                  )          
                %div{:class=>"form-group"}
                  %label{:class=>"form-label", :for=>"username"} Username:
                  .controls
                    %input#username.form-control{:type=>'text', :name=>"username"}
                %div{:class=>"form-group"}
                  %label{:class=>"form-label", :for=>'password'} Password
                  .controls
                    %input#password.form-control{:type=>"password", :name=>'password'}
                %input{:type=>"hidden", :name=>"return", :value=>request.fullpath}    
              %div{:class=>"modal-footer"}
                %a.btn{:href=>"#", :"data-dismiss"=>"modal"} Cancel
                %button{:type=>"submit", :class=>["btn","btn-primary"]} Sign in                 
    %script{:type => "text/javascript", :src => '/js/bootstrap-timepicker.js'}            
    %script{:type => "text/javascript", :src => '/js/diebold.js'}            
